In [2]:
from google.colab import drive

drive.mount('/content/drive', force_remount=False)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

**This notetbook is used to merge datasets from two different sources.** \\

link for dataset1: https://github.com/jcl132/personality-prediction-from-text/tree/master/data/myPersonality  \\

link for dataset2: https://github.com/FellinRoberto/PersonalityPrediction/tree/master/dataset \\

final output files are saved as final_train.csv and final_labels.csv.

In [0]:
FB_DATA_PATH = "/content/drive/My Drive/Colab Notebooks/data_personality/IPIP-FFM-data-8Nov2018/fb_status_data.csv"
DATASET2_PATH = "/content/drive/My Drive/Colab Notebooks/data_personality/IPIP-FFM-data-8Nov2018/dataset/"

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
fb_status_dataset = pd.read_csv(FB_DATA_PATH, encoding="ISO-8859-1")

print(fb_status_dataset.shape)
X = fb_status_dataset['STATUS']
drop_list = ['#AUTHID', 'STATUS', 'cEXT',
       'cNEU', 'cAGR', 'cCON', 'cOPN', 'DATE', 'NETWORKSIZE', 'BETWEENNESS',
       'NBETWEENNESS', 'DENSITY', 'BROKERAGE', 'NBROKERAGE', 'TRANSITIVITY']
#print(list_)
y = fb_status_dataset.drop(drop_list, axis=1)
print(type(y), X.shape, y.shape)

(9917, 20)
<class 'pandas.core.frame.DataFrame'> (9917,) (9917, 5)

In [34]:
users = fb_status_dataset['#AUTHID'].unique()
print(type(users), len(users))
print(y.describe)

<class 'numpy.ndarray'> 250
<bound method NDFrame.describe of       sEXT  sNEU  sAGR  sCON  sOPN
0     2.65  3.00  3.15  3.25  4.40
1     2.65  3.00  3.15  3.25  4.40
2     2.65  3.00  3.15  3.25  4.40
3     2.65  3.00  3.15  3.25  4.40
4     2.65  3.00  3.15  3.25  4.40
...    ...   ...   ...   ...   ...
9912  2.15  2.15  4.10  2.90  4.60
9913  4.05  3.35  3.80  3.95  4.50
9914  4.05  3.35  3.80  3.95  4.50
9915  1.40  4.05  3.30  3.40  3.95
9916  4.25  3.00  3.25  3.50  4.00

[9917 rows x 5 columns]>

In [17]:
users1=pd.read_csv(DATASET2_PATH + 'users_1000.csv', engine='c', encoding="ISO-8859-1")
posts1=pd.read_csv(DATASET2_PATH + 'posts_1000.csv', engine='c', encoding="ISO-8859-1")
print(users1.shape, posts1.shape)
x1 = posts1['status_update']

joined_df= pd.merge(posts1, users1, how='inner', on='userid')
cleaned_df= joined_df.drop(['date_x','date_y', 'blocks', 'item_level'], axis=1)
y1 = cleaned_df.drop(['userid', 'status_update'], axis=1)

print(x_.shape, y_.shape)

(1000, 9) (138420, 3)
(138420,) (138420, 5)

In [18]:
users2=pd.read_csv(DATASET2_PATH + 'users_2000.csv', engine='c', encoding="ISO-8859-1")
posts2=pd.read_csv(DATASET2_PATH + 'posts_2000.csv', engine='c', encoding="ISO-8859-1")
print(users2.shape, posts2.shape)
x2 = posts2['status_update']

joined_df= pd.merge(posts2, users2, how='inner', on='userid')
cleaned_df= joined_df.drop(['date_x','date_y', 'blocks', 'item_level'], axis=1)
y2 = cleaned_df.drop(['userid', 'status_update'], axis=1)

print(x2.shape, y2.shape)

(2000, 9) (281263, 3)
(281263,) (281263, 5)

In [19]:
users3=pd.read_csv(DATASET2_PATH + 'users_2000to3000.csv', engine='c', encoding="ISO-8859-1")
posts3=pd.read_csv(DATASET2_PATH + 'posts_2000to3000.csv', engine='c', encoding="ISO-8859-1")
print(users3.shape, posts3.shape)
x3 = posts3['status_update']

joined_df= pd.merge(posts3, users3, how='inner', on='userid')
cleaned_df= joined_df.drop(['date_x','date_y', 'blocks', 'item_level'], axis=1)
y3 = cleaned_df.drop(['userid', 'status_update'], axis=1)

print(x3.shape, y3.shape)

(1000, 9) (140554, 3)
(140554,) (140554, 5)

In [20]:
final_X = pd.concat([x1, x2, x3], ignore_index=True, sort=False)
final_y = pd.concat([y1, y2, y3], ignore_index=True, sort=False)
print(final_X.shape, final_y.shape)

(560237,) (560237, 5)

In [21]:
final_X.describe()

count     560227
unique    415896
top           :)
freq         259
Name: status_update, dtype: object

In [25]:
final_y.describe()

                 ope            con  ...            agr            neu
count  560237.000000  560237.000000  ...  560237.000000  560237.000000
mean        3.880419       3.440283  ...       3.558791       2.787866
std         0.676716       0.746689  ...       0.701125       0.804272
min         1.250000       1.000000  ...       1.000000       1.000000
25%         3.500000       3.000000  ...       3.100000       2.250000
50%         4.000000       3.500000  ...       3.600000       2.750000
75%         4.400000       4.000000  ...       4.000000       3.260000
max         5.000000       5.000000  ...       5.000000       5.000000

[8 rows x 5 columns]

In [35]:
#final_y.to_csv(DATASET2_PATH + 'final_y.csv', index=False)
changed_y = pd.read_csv(DATASET2_PATH + 'final_y.csv', engine='c')
print(changed_y.shape)

(560237, 5)

In [36]:
changed_y.describe()

                sOPN           sCON  ...           sAGR           sNEU
count  560237.000000  560237.000000  ...  560237.000000  560237.000000
mean        3.880419       3.440283  ...       3.558791       2.787866
std         0.676716       0.746689  ...       0.701125       0.804272
min         1.250000       1.000000  ...       1.000000       1.000000
25%         3.500000       3.000000  ...       3.100000       2.250000
50%         4.000000       3.500000  ...       3.600000       2.750000
75%         4.400000       4.000000  ...       4.000000       3.260000
max         5.000000       5.000000  ...       5.000000       5.000000

[8 rows x 5 columns]

In [37]:
print(changed_y.columns)

Index(['sOPN', 'sCON', 'sEXT', 'sAGR', 'sNEU'], dtype='object')

In [38]:
X_new = pd.concat([final_X, X], ignore_index=True, sort=False)
y_new = pd.concat([changed_y, y], ignore_index=True, sort=False)
print(X_new.shape)
print(y_new.shape)

(570154,)
(570154, 5)

In [0]:
X_new.to_csv(DATASET2_PATH + 'final_train.csv', index=False)
y_new.to_csv(DATASET2_PATH + 'final_labels.csv', index=False)